/* Reset some default styles of browser */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: 'Roboto', sans-serif; /* Roboto is a clean font */
  background-color: #f5f5dc; /* Beige */
  color: #808080; /* Grey */
  line-height: 1.6;
}

a {
  color: #808080; /* Grey */
  text-decoration: none;
}

.container {
  max-width: 960px;
  margin: auto; /* Changed from '0 auto' */
  padding: 0 1rem;
}
/* Navigation Bar */
.navbar {
  background-color: #f5f5dc; /* Beige */
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: #808080; /* Grey */
}

/* Main Content */
main {
  padding: 5rem 0;
  padding-left: 20px;
}
#main-content ul li h2 {
  font-size: 15px;
  font-weight: bold;
}
.btn-primary {
  background-color: #ffa500; /* Orange */
  border-color: #ffa500; /* Orange */
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #ff8c00; /* Dark Orange */
  border-color: #ff8c00; /* Dark Orange */
}
.container:first-of-type {
  margin-bottom: 0.5in;
}
/* Footer */
footer {
  background-color: #808080; /* Grey */
  color: #f5f5dc; /* Beige */
  padding: 1rem 0;
  text-align: center;
  margin-top: 50px; /* Or any size you want */
}
